$rf-spring-dark: #bbf297;
$rf-spring-light: #e0f6b1;
$rf-summer-dark: #93dcec;
$rf-summer-light: #c9fdfa;
$rf-autumn-dark: #f6a979;
$rf-autumn-light: #fddc91;
$rf-winter-dark: #c889b2;
$rf-winter-light: #fae7fe;

$rf-calendar-day: #fdfdfe;
$rf-calendar-day-border: #915809;
$rf-calendar-holiday: #fdcaca;
$rf-calendar-hover: #fdbf5e;

$rf-event-birthday: #24bf77;
$rf-event-festival: #cc3140;
$rf-event-directive: #0a58cc;
$rf-event-other: #000000;
